.chat-input {
  flex: 1;
  background: transparent;
  color: #949ba4;
  font-size: 15px;
  font-weight: 500;
  border: none;
  padding: 0;
  overflow: hidden;
  resize: none;
  box-sizing: border-box;
  outline: none;
  line-height: 1;
  min-height: 0;
  max-height: 150px;
}

.chat-input-wrapper.disabled {
  background-color: var(--background-secondary-alt);
  cursor: not-allowed;
}

.chat-input:disabled {
  color: var(--text-muted);
  resize: none;
}
