.member-list-item {
  display: flex;
  color: white;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  transition: 0.3s opacity;
  cursor: pointer;
}

.member-list-item.offline-member {
  opacity: 0.3;
}

.member-list-item.offline-member:hover {
  opacity: 1;
}

.member-list-item-wrapper {
  padding-left: 20px;
  display: block;
}

.role-title {
  padding: 10px 0 10px 10px;
  color: var(--accent-primary);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.role-group {
  margin-bottom: 8px;
}

.avatar-wrapper {
  position: relative;
  display: flex;
  width: 32px;
  height: 32px;
}

.member-list-item .avatar-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}
