.profile-modal-root {
  width: 600px;
  background: var(--bg-alt);
  border-radius: 8px;
  overflow: hidden;
  outline: 1px solid var(--accent-primary);
  box-shadow: 0 20px 40px rgb(0 0 0 / 40%);
  animation: modal-appear 0.2s ease-out;
  min-height: 575px;
}

@keyframes modal-appear {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.profile-modal-header {
  width: 100%;
  aspect-ratio: 680/240;
  background-color: var(--bg-header);
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: var(--gray-outline-bottom);
}

.profile-modal-avatar-wrapper {
  position: absolute;
  bottom: -40px;
  left: 20px;
  padding: 6px;
  background: var(--bg-alt);
  border-radius: 50%;
}

.modal-avatar-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-modal-body {
  padding: 60px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 406px;
}

.modal-user-info {
  font-size: 20px;
  font-weight: 700;
  margin-top: -20px;
  margin-bottom: 5px;
}

.modal-username {
  color: white;
}

.modal-discriminator {
  color: var(--text-muted);
}

.modal-pronouns {
  font-size: 14px;
  color: var(--text-muted);
  background: rgb(255 255 255 / 5%);
  padding: 2px 8px;
  border-radius: 4px;
}

.modal-about-content {
  color: var(--text-main);
  line-height: 1.4;
}

.modal-note {
  width: 100%;
  min-height: 60px;
}

.tab-bar {
  display: flex;
  gap: 20px;
}

.tab {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-muted);
  cursor: pointer;
  user-select: none;
  position: relative;
  transition: color 0.2s ease;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  background-color: var(--bg-alt);
}

.tab:hover {
  color: var(--text-main, #fff);
}

.tab.selected {
  color: var(--text-main, #fff);
}

.tab.selected::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--accent-primary);
  border-radius: 2px 2px 0 0;
}
